body{
	margin: 0;
	padding: 0;
	font: 15px 'Exp Demi Bold', sans-serif;
	color: red;
}
button{
	font: 15px 'Exp Demi Bold', sans-serif;
	color: darkblue;
}
input{
	font: 15px 'Exp Demi Bold', sans-serif;
	color: orangered;
}
@font-face{
	font-family: 'Exo Regular';
    src: url('../fonts/Exo-Regular.otf') format('opentype') 
}
@font-face{
	font-family: 'Exo Demi Bold';
    src: url('../fonts/Exo-DemiBold.otf') format('opentype') 
}
.clearfix:before,
.clearfix:after {

     content: ".";
     display: table;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
ul{
	list-style: none;
	font-size: 40px;
}
.center{
	width: 400px;
	margin: 150px auto;
}
